h1{
    color: red;
    text-align: left;
 }

h2{
    color: red;
    text-align: left;
}

h4{
    color: black;
    text-align: left;
    margin-bottom: 0px;
}

body{
    display: flex;
    justify-content: center;
}

.div{
    width: 800px;
    background-color: rgb(178, 185, 183);
}

form{
    width: 100%;
    padding: 20px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], select{
    width: 95%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(182, 181, 181);
    border-radius: 5px;
    margin-bottom: 10px;
}